<a href="#" class="close">X</a>

<form class="delete-self-form">
  <input type="hidden" name="person[id]" value="<%= person.id %>"></input>
  <input type="checkbox" name="delete_children" value="true">Children too?</input>
  
  <input type="submit" value="Delete"></input>
</form>




