<a href="#" class="close">X</a>

<form class="new-child-form">
  <input type="hidden" name="person[parents_id]" value="<%= parents_id %>"></input>
  <input type="hidden" name="person[tree_id]" value="<%= tree_id %>"></input>
  
  <input type="text" name="person[name]" placeholder="Child Name"></input>
  <input type="submit" value="+"></input>
</form>

