<a href="#" class="new-spouse-icon person-options-icons <%= person_id %>">
  <img class="icon-link" src="assets/spouse.png" alt="Spouse Icon">
</a>
<a href="#" class="new-parents-icon person-options-icons <%= person_id %>">
  <img class="icon-link" src="assets/parents.png" alt="Parents Icon">
</a>
<a href="#" class="delete-person-icon person-options-icons <%= person_id %>">
  <img class="icon-link" src="assets/child.png" alt="Delete Icon">
</a>

