<a href="#" class="new-spouse-button <%= person_id %>">+Spouse</a>
<a href="#" class="new-parents-button <%= person_id %>">+Parents</a>
<a href="#" class="delete-person-button <%= person_id %>">-Self</a>