<% spouse_list = spouse_list || [] %>

<h1><%= person.escape("name") %></h1>

  <% _.each(spouse_list, function (spouse) {  %>
    <a class="show-person" data-pid="<%=spouse.escape("id")%>" href="#"><%= spouse.escape("name") %></a>
  <% }) %>


<a href="#/">Back to Index</a>