<!-- Assumes tree and head_id is passed -->

<form class="change-head-form">
  <ul class="list-people">  
    <% tree.people().each(function (person) { %>
      <li>
        <input type="radio" name="tree[head_id]" value="<%= person.id%>" <%= person.id == head_id ? "checked" : "" %> >
          <a class="show-person" data-pid="<%= person.id%>" href="#">
            <%= person.get("name") %>
          </a>
      </li> 
    <% }) %>
  </ul>
  
  <input type="submit" value="Change">

</form>