<h2>Index</h2>

<button class="refresh">Refresh </button>

<ul>
  <% trees.each( function (tree) { %>
    <li>
      <a href="#/trees/<%= tree.id %>">
        <%= tree.get("name") %>
      </a>
    </li>
  <% })%>
</ul>

<a href="#/trees/new">New Tree</a>

