<h1><%= tree.get("name") %></h1>


<ul class="list-people">
  <% tree.people().each(function (person) { %>
    <li>
      <a href="#/trees/<%= tree.id %>/people/<%= person.id %>">
        <%= person.get("name") %>
      </a>
    </li> 
  <% }) %>
</ul>