<!-- <form class="create-new-user">
  <input type="text" name="user[email]" placeholder="Email Address"></input>
  <input type="password" name="user[password]" placeholder="Password"></input>

  <input type="submit" value="Create!"></input>
</form>

<a class="close">Cancel</a>
 -->
