NO User

  <!-- <div class="user-create-view">
    Create User
    <form class="main-create-new-user">
      <input type="text" name="user[email]" placeholder="Email Address"></input>
      <input type="password" name="user[password]" placeholder="Password"></input>

      <input type="submit" value="Create!"></input>
    </form>

    <a class="hide-view">Cancel</a>
  </div>

  <div class="main-user-sign-in-view">
    Sign In
    <form class="sign-in-user">
      <input type="text" name="user[email]" placeholder="Email Address"></input>
      <input type="password" name="user[password]" placeholder="Password"></input>

      <input type="submit" value="Sign In!"></input>
    </form>

    <a class="hide-view">Cancel</a>
  </div> -->