/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/************************************** 
*************** CSS REST **************
**************************************/


html, body, header, footer, section, article, div, span,
strong, a, img, p, h1, h2, h3, time, ul, li, small, input, select, form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: sans-serif;
  background: transparent;
  font-size: 16px;
  line-height: normal;
}

ul {
  list-style: none;
}

form {
  display: inline;
}

a {
  text-decoration: underline;
  color: red;
}

strong {
  font-weight: bold;
}

img {
  display: block;
}

form > div {
  display:inline;
}

/*
input[type="password"], input[type="text"], input[type="file"], input[type="checkbox"], textarea {
  background: #FDF9EC;
  font-size: 16px;
  border: 1px solid #eee;
  display:block;
  width: 400px;
  padding: 4px;
  margin-bottom: 15px;
}
*/

/************************************** 
*************** MY CSS ****************
**************************************/

$background-color: #ccc;
$people-color: green;
$current-person-color: yellow;
$line-border-color: green;
$header-color: lightgreen;
$divider-color: black;
$page-info-color: pink;
$left-column-color: lightblue;

body {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  background: $background-color;
}

footer {
  display: none;
  text-align: center;
  background: black;
  color: white;
  width: 100%;
  height: 20px;
}

header {
  font-size: 38px;
  font-family: verdana;
  background: $header-color;
  color: white;
  padding: 10px 10px 10px 10px;
  height: 50px;
}

header a {
  text-decoration: none;
}

header #site-name { 
  color: white; 
  font-size: 40px;
  font-weight: 800;
/*  margin-left: 10px;*/
}

header #log-in-button, header #user-email, header form {
  float: right;
  padding-top: 20px;
}

header #log-in-button{
  float: right;
  padding-top: 20px;
}

header #log-in-button:hover{
  color: white;
}

h1 {
  color: orange;
}

#divider {
  height: 30px;
  width: 100%;
  background-color: $divider-color;
}

#page-info {
  height: 20px;
  background: $page-info-color;
  padding-left: 20px;
}

#page-info form, #page-info form div {
  display: inline;
}

body > div{
  position: relative;
  height:100%; /* force the BODY element to match the height of the HTML element */
}

#content {
  width: 100%;
  height: 80%;
}

#full-page {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#full-page #full-content {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 100%;
  background: red;
}

#split-page {
  
}

#left-content, #right-content {
  float: left;
  height: 90%;
  z-index: -1;
}

#split-page  #left-content{
  padding: 20px 0px 0px 40px;
  min-height: 530px;
  width: 18%;
  background: $left-column-color;
  overflow: scroll; 
}

#split-page #right-content{
  min-height: 500px;
  width: 75%;
  left: 20%;
  padding-top: 40px;
  overflow: scroll;
}

.display-off {
  display: none;
}

.is_displayed {
  display: inline;
}

#flash-errors, #flash-notices {
  text-align: center;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 70px;
  background: yellow;
}

.session-form {
  text-align: center;
}


/*#actions {
  background: lightgrey;
}

#actions > span {
  display: none;
}

#actions > a {
  padding: 0px 10px 0px 10px;
}
*/


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}



/* * * * * * * * * * * * */
/* * *             * * * */
/* * * P E O P L E * * * */
/* * *             * * * */
/* * * * * * * * * * * * */


.people-container {
  float:left;
  position: relative;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%; 
}

.people-container .person{ 
  text-align: center;
  position: absolute;
}

.people-container .person-object {
  position: relative;
  border: 2px solid transparent;  
  margin: auto;
  background: $people-color; 
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 12px;
  z-index: 2;
}

.people-container .current-person {
  background: $current-person-color;
}

.people-container img.person-avatar {
  margin: auto;
  width: 50px;
  height: 50px;
  display: block;
}



.child {
  text-align: center;
}
.spouse {
  text-align: left;
}


/* * * * * * * * * * * * */
/* * *             * * * */
/* * *   L I N E   * * * */
/* * *             * * * */
/* * * * * * * * * * * * */

div.line{
  height: 1px;
  width: 1px;
  
  border: 1px solid $line-border-color;
  background: $line-border-color;
  position: absolute;
}

div.spouse-line, div.horizontal-line{
  width: 40px;
  z-index: 1;
}

div.parent-line, div.child-line {
  height: 70px;
}

div.dot {
  width: 4px;
  height: 4px;
  background: $line-border-color;
  border: 2px solid $line-border-color;
  border-radius: 25px;
  z-index: 3;
}




/* * * * * * * * * * * * */
/* * *             * * * */
/* * * P O P U P S * * * */
/* * *             * * * */
/* * * * * * * * * * * * */

.add-child {
  width: 180px;
  height: 30px;
  background: lightgreen;
  z-index: 3;
}

.add-child,
.person-options-icons {
 position: absolute; 
 z-index: 3;
}

.person-options-icons {
  margin-top: 100px;
}

.person-options-icons.new-spouse-icon {
  margin-left: 60px;
}

.person-options-icons.new-parents-icon {
  margin-left: 20px;
}

.person-options-icons.delete-person-icon {
  margin-left: -20px;
}

.person-options-icons.edit-person-icon {
  margin-top: -20px;
}

/*
.person-object > form {
  position: absolute;
  border: 2px solid transparent;
  margin: auto;
  background: yellow;
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 12px;
  z-index: 2;
}

.person-object  input[type="submit"] {
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
}

*/

.add-spouse,
.add-parents,
.delete-self,
.edit-self,
.add-child {
  position :absolute;
  height: auto;
  width: auto;
  text-align: center;
  background: blue;
  z-index: 3;
}

div.parent-dot {
  position: absolute;
  margin-top: -4px;
  margin-left: -2px;
  z-index: 1;
}

.icon-link {
  background: white;
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

.new-spouse-form,
.new-parents-form,
.delete-self-form,
.new-child-form{
  display: inline;
}


input[type="submit"],
input[type="checkbox"] {
  display: inline; 
  vertical-align: center;
  text-align: left;
}

.close {
  background: red;
  padding:  3px 5px 3px 5px;
}


.edit-self {
  width: 76px;
  height: 75px;
  border: 2px solid blue;
}


.edit-self input {
  width: 70px;
}


#notice {
  color: white;
}