/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/************************************** 
*************** CSS REST **************
**************************************/


html, body, header, footer, div, span,
a, img, input, select, form, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: normal;
}

a {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

form {
  display: inline;
}

//::-webkit-scrollbar {
//    -webkit-appearance: none;
//    width: 7px;
//}
//::-webkit-scrollbar-thumb {
//    border-radius: 4px;
//    background-color: rgba(0,0,0,.5);
//    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
//}


/************************************** 
************ VARIABLES ****************
**************************************/

$blue: #92CAFF;
$green: #99CC99;
$yellow: #FFCC00;
$brown: #CCB299;


$background-color: #F5F5F5;
$footer-color: $yellow;

$header-color: $green;
$divider-color: $yellow;
$info-color: $blue;

$left-column-color: $blue;
$full-page-color: white;

$people-color: #CCEE88;
$current-person-color: $brown;
$line-border-color: $brown;
$people-border-color: $brown;


$person-height: 92px;

$full-page-z-index: 1;
$person-object-z-index: 2;
$line-z-index: 1;
$dot-z-index: 3;
$floating-z-index: 4;
$cover-z-index: 4;


/* * * * * * * * * * * * * * */
/* * * *               * * * */
/* * * * G E N E R A L * * * */
/* * * *               * * * */
/* * * * * * * * * * * * * * */


.update {
  background: #EEDD88;
}

.create {
  background: #CCEE88;
}

.destroy {
  background: #EEAA88;
}

input[type="submit"] {
  background: #99EE99;
  padding: 2px;
}

.close,
.hide-view {
  background: #CD5C5C;
  text-decoration: none;
  color: black;
  padding: 2px;
}

input[type="submit"],
input[type="checkbox"] {
  display: inline; 
  vertical-align: center;
  text-align: left;
}

.close {
  background: red;
  padding:  3px 5px 3px 5px;
}

/************************************** 
************ CUSTOM CSS ***************
**************************************/

body {
  font-family: sans-serif;
  font-size: 16px;
  background: $background-color;
}

body #background{
  position: relative;
  height:100%; /* force the BODY element to match the height of the HTML element */
  color: white;
}

a {
  color: white;
}

a:visited {
  color: white;
};

footer {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: $footer-color;
  text-align: center;
  color: white;
}

header {
  padding: 10px 10px 10px 10px;
  height: 60px;
  background: $header-color;
}

header a#site-name {
  text-decoration: none;
  font-family: verdana;
  color: white;
  font-size: 40px;
  font-weight: 500;
}

#divider {
  height: 20px;
  width: 100%;
  background-color: $divider-color;
  text-align: center;
  font-size: 20px;
}

#notice {
  display: none;
  text-align: center;
  color: white;
}

#info-container,
#user-info-container  {
  height: 16px;
  background-color: $info-color;
  font-size: 14px;
  padding: 4px 0px 6px 0px;
}

#user-info-container {
  position: absolute;
  right: 0;
  margin-right : 20px;
  padding: 6px 0px 0px 0px;
  margin-top: -2px;
}

.user-info > a {
  background: #0099CC;
  padding: 2px 4px 2px 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration: none;
  color: white;
}

.user-sign-out-view,
.user-sign-in-view,
.user-create-view {
  display: none;
  position: absolute;
  right: 0;
  background: white;
  padding: 5px 5px 10px 5px;
  border: 3px solid #0099CC;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.add-person-form,
.rename-tree-form{
  display: none;
  margin: auto;
}

#tree-info-container {
  position: absolute;
  left: 0;
  margin-left : 20px;
}

#tree-commands-container {
  position: absolute;
  left: 23%;
  margin-top: 1px;
}

#tree-commands > a {
  text-decoration: none;
  padding: 2px 5px 2px 5px;
  border: 1px dashed #ccc;
  color: white;
  text-shadow: 1px 1px $blue;
}

#tree-commands  input[type="submit"] {
  padding: 0px 2px 0px 2px;
}

#content {
  width: 100%;
  height: 80%;
}

#full-page {
  width: 100%;
  height: 100%;
  z-index: $full-page-z-index;
}

#full-page #full-content {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 100%;
  background: $full-page-color;
  color: $blue;
}

#full-content a {
  color: $blue;
}

#split-page {
  text-align: left;
  height: 100%;
  width: 100%;
}

#left-content, #right-content {
  display: inline-block;
  height: 100%;
  overflow: scroll; 
}

#split-page  #left-content{
  width: 21%;
  background: $left-column-color;
  border-top: 3px dotted white;
}

#split-page #right-content{
  width: 78%;
}


/* * * * * * * * * * * * */
/* * *             * * * */
/* * * P E O P L E * * * */
/* * *             * * * */
/* * * * * * * * * * * * */


.people-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.people-container .person{ 
  text-align: center;
  position: absolute;
}

.people-container .person-object {
  position: relative;
  border: 4px solid transparent;  
  margin: auto;
  background: $people-color; 
  width: $person-height;
  height: $person-height;
  text-align: center;
  font-size: 16px;
  z-index: $person-object-z-index;
  border-radius: 10px;
}

.people-container .current-person {
  background: $current-person-color;
}

.person-object > img.person-avatar {
  margin: auto;
  margin-top: 3px;
  width: 60px;
  height: 60px;
  display: block;
  border: 2px solid white;
  border-radius: 5px;
  background: white;
}

.person-object > a {
  display: block;
  height: 20px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 5px;
  background: white;
  color: $blue;
  text-decoration: none;
  text-shadow: 1px 1px $people-color;
}

.child {
  text-align: center;
}

.spouse {
  text-align: left;
}

.person-object.highlight,
.line.highlight{
  border-color: $yellow;
}

.line.highlight{
  background: $yellow;
}


/* * * * * * * * * * * * */
/* * *             * * * */
/* * *   L I N E   * * * */
/* * *             * * * */
/* * * * * * * * * * * * */

div.line{
  height: 1px;
  width: 1px;
  border: 1px solid $people-border-color;
  background: $line-border-color;
  position: absolute;
}

div.spouse-line, div.horizontal-line{
  width: 40px;
  z-index: $line-z-index;
}

div.parent-line, div.child-line {
  height: $person-height;
}

div.dot {
  width: 4px;
  height: 4px;
  background: $line-border-color;
  border: 2px solid $line-border-color;
  border-radius: 25px;
  z-index: $dot-z-index;
}

div.parent-dot {
  position: absolute;
  margin-top: -4px;
  margin-left: -2px;
  z-index: $person-object-z-index;
}

.spouse-line.enlargen {
  height: 4px;
  background: $yellow;
  margin-top: -2px;
}

.child-dot.enlargen {
  height: 7px;
  width: 7px;
  background: $yellow;
}


/* * * * * * * * * * * * */
/* * *             * * * */
/* * * P O P U P S * * * */
/* * *             * * * */
/* * * * * * * * * * * * */



.person-options-icons {
 position: absolute; 
 z-index: $floating-z-index;
}

.person-options-icons,
.add-spouse,
.add-parents,
.delete-self {
  margin-top: 100px;
}

.person-options-icons.new-spouse-icon,
.add-spouse {
  margin-left: 80px;
}

.person-options-icons.new-parents-icon,
.add-parents {
  margin-left: -20px;
}

.person-options-icons.delete-person-icon,
.delete-self {
  margin-top: -10px;
  margin-left: 80px;
}

.person-options-icons.edit-person-icon {
  margin-top: -10px;
  margin-left: -20px;
}

.add-tree,
.add-spouse,
.add-parents,
.delete-self,
.edit-self,
.add-child {
  display: block;
  position :absolute;
  height: auto;
  width: auto;
  text-align: center;
  background: #99ccff;
  z-index: $floating-z-index;
}

.icon-link {
  background: $blue;
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

.new-tree-form
.new-spouse-form,
.new-parents-form,
.delete-self-form,
.new-child-form{
  display: inline;
}

/* * * * * * * * * * * * */
/* * *             * * * */
/* * * C O V E R S * * * */
/* * *             * * * */
/* * * * * * * * * * * * */

.edit-self {
  background: none;
  width: 100%;
  height: 100%;
  text-align: center;
}


.cover {
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}



/* * * * * * * * * * * * * * * * */
/* * *                     * * * */
/* * * L E F T   L I S T S * * * */
/* * *                     * * * */
/* * * * * * * * * * * * * * * * */

.edit-self-form {
  background: lightblue;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 300px;
  height: 150px;
  z-index: 1;
}

.edit-self input {
}

.list-people {
  margin: 40px 0px 0px 40px;
}

.list-people > li{
  margin-top: 12px;
}

.list-people a.show-person{
  background: $people-color;
  text-decoration: none;
  padding: 4px 10px 4px 10px;
  color: white;
  text-shadow: 1px 1px $blue;
}

.delete-list a.show-person {
  background: #EEAA88;
}

.change-head a.show-person {
  background: #EEDD88;
}

.delete-list .close,
.delete-list input[type="submit"],
.change-head .close,
.change-head input[type="submit"] {
  text-align: center;
  width: 98%;
  font-size: 25px;
  margin-left: 5px;
  margin-top: 20px;
  padding: 5px 0px 5px 0px;
}

.delete-list .close,
.change-head .close {
  display: block;
  background: red;
  margin-top: 5px;
  padding: 2px 0px 2px 0px;
}

.delete-list input[type="submit"] {
  border: 10px solid #EEAA88;
}

.change-head input[type="submit"] {
  border: 10px solid #EEDD88;
}



/* * * * * * * * * * * */
/* * *           * * * */
/* * *   E N D   * * * */
/* * *           * * * */
/* * * * * * * * * * * */





.child-dot:hover, .spouse-line:hover {
  cursor: pointer;
}