<header>
  Family Tree
</header>
<div id="divider">
  <span id="notice">Notice</span>
</div>
<div id="info-container">
  <span id="page-info-container">Page Info</span>
  <span id="user-info-container">User Info</span>

  &nbsp;
</div>

<div id="content">
  <div id="full-page">
    <div id="full-content" >
      Full Content
    </div>
  </div>
  
  <div id="split-page">
    <div id="left-content">
    </div>

    <div id="right-content">
    </div>
  </div>

</div>

<footer>
  Footer
</footer>