<h1>Welcome Family Tree!</h1>



<div id="page-info">
  
</div>


<div id="left-section">
All People
</div>

<div id="main">
  <div class="main-left">
<a href="#/">Back to Index</a>

  </div>

  
  Display Person
</div>
