<header>
  Family Tree
</header>
<div id="divider">
  <span id="notice">Notice</span>
</div>
<div id="page-info">
  Page Info
</div>

<div id="content">
  <div id="full-page" class="display-off">
    <div id="full-content" >
      Full Content
    </div>
  </div>
  
  <div id="split-page" class="display-off">
    <div id="left-content">
    </div>

    <div id="right-content">
    </div>
  </div>

</div>

<footer>
  Footer
</footer>