<% if (tree) { %>
  <a class="add-person-link" data-tid="<%= tree.get("id") %>" href="#">+Person</a> 
  
  <form class="new-person-form">
    <input type="hidden" name="person[tree_id]" value="<%= tree.get("id")  %>"></input>
  
    <input type="text" name="person[name]" placeholder="Person Name"></input>
    <input type="submit" value="+"></input>
  </form>
  
  &nbsp; | &nbsp;
  <a class="delete-people-link" data-tid="<%= tree.get("id") %>" href="#">-People</a>  
<% } %>
